[run]
branch = True
source =
    pico_sqlalchemy
omit =
    */_version.py

[paths]
pico_sqlalchemy =
    src/pico_sqlalchemy
    .tox/*/lib/*/site-packages/pico_sqlalchemy
    .tox/*/site-packages/pico_sqlalchemy
    */site-packages/pico_sqlalchemy

[report]
show_missing = True

